@font-face {
    src: url(Main.otf);
}

* {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: 'Minecraft';
    -fx-font-smoothing-type: lcd;
}

.button {
    -fx-cursor: HAND;
}

.progress-bar {
    -fx-indeterminate-bar-flip: false;
    -fx-indeterminate-bar-length: 143;
}

.progress-bar > .track {
    -fx-background-color: linear-gradient(to top, #efefef, #d9d9d9);
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: linear-gradient(to right, #323232, rgba(0,0,0,0));
}

.error > .bar {
    -fx-background-color: rgba(170, 53, 61, 0.81);
}